* {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #BFC0C1;
}

body {
  background-color: #1E2124;
  color: #BFC0C1;
  margin: 0;

  .header__wrapper {
    background-color: #292C2F;
    padding: 10px;

    &-container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 2vw 0 2vw;
      display: flex;
      justify-content: space-between;

      &__logo {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 10px;
        }
      }

      &__menu {
        display: flex;
        align-items: center;

        &-list {
          display: flex;

          &__item {
            list-style: none;
            padding: 0px 15px 0px 15px;
          }
        }
      }

      &__search {
        display: flex;
        align-items: center;
      }
    }
  }
  .main {
    max-width: 1210px;
    margin: 0 auto;
       &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      &__main {
        &__title-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__title {
            display: flex;
            align-items: center;
            margin: 30px 0 20px 0;

            h2 {
              margin: 0 0 0 12px;
            }
          }

          &__select {
            background-color: rgba(255, 255, 255, 0.05);
            border: none;
            color: #BFC0C1;
            outline: none;
            height: 32px;
            min-width: 166px;
          }
        }

        &__news-block {
          display: grid;
          grid-template-rows: repeat(auto-fit, 200px);
          grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
          grid-gap: 30px;
        }

        &__show-more {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          margin: 0 auto;

          &__button {
            display: flex;
            align-items: center;

            &:hover {
              cursor: pointer;
            }

            &-background {
              position: absolute;
              width: 50px;
              height: 50px;
              background: #443C2C;
              border: 1px solid #443C2C;
              box-sizing: border-box;
              border-radius: 50%;
              z-index: -999;
            }

            &-value {
              padding-left: 20px;
            }
          }
        }
      }

      &__sidebar {
        max-width: 270px;

        &__title {
          display: flex;
          align-items: center;

          margin: 30px 0 20px 0;

          h2 {
            margin: 0 0 0 12px;
          }
        }

        .category {
          align-self: flex-start;
        }

        .description {
          padding: 10px 10px 20px 0;

          .subData {
            border-bottom: 1px solid #3E4143;
            padding-bottom: 20px;
          }
        }
      }
    }

  }

}


.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: left bottom;
  text-shadow: 1px 1px 2px black;

  .category {
    color: black;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    background: #DCA74A;
    align-self: flex-end;
    text-shadow: none;
    font-size: 12px;
  }

  .description {
    padding: 20px;

    h4 {
      text-transform: uppercase;
      margin: 0;
    }

    .subData {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-top: 10px;

      .arrow {
        border: 5px solid transparent;
        border-left: 8px solid #BFC0C1;
        margin: 0 -4px 0 4px;
        text-shadow: 1px 1px 2px black;
      }
    }
  }

}


.mobile-menu {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
  }

  &__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background: white;
      width: 100%;
      height: 4px;
      transition: .4s;
      top: 8px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: white;
      width: 100%;
      height: 4px;
      transition: .4s;
      top: -8px;
    }
  }

  &__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #292C2F;
  }

  &__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
  }

  &__item {
    font-size: 26px;
    padding-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }

  &__checkbox {
    display: none;

    &:checked ~ .mobile-menu__nav {
      opacity: 1;
    }

    &:checked ~ .mobile-menu__container {
      height: 100%;
    }

    &:checked ~ .mobile-menu__btn .mobile-menu__icon {
      background: transparent;

      &::before {
        top: 8px;
      }
    }


    &:checked ~ .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      top: 0;
    }

    &:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

@media (max-width: 767px) {
  .header__wrapper-container__menu {
    transform: scale(0);
  }
  .header__wrapper-container__search {
    transform: scale(0);
  }
  .mobile-menu {
    display: flex;
  }

}
