* {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #BFC0C1;
}

body {
  background-color: #1E2124;
  color: #BFC0C1;
  margin: 0;

  .header__wrapper {
    background-color: rgba(255, 255, 255, 0.05);

    &-container {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &__logo {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 10px;
        }
      }

      &__menu {
        &-list {
          display: flex;

          &__item {
            list-style: none;
            padding: 0px 15px 0px 15px;
          }
        }
      }

      &__search {
        display: flex;
        align-items: center;
      }
    }


  }

  .main {
    max-width: 1170px;
    margin: 0 auto;

    &-content {
      display: flex;

      &__main {
        &__title-wrapper {
          display: flex;
          justify-content: space-between;

          &__select {
            background-color: rgba(255, 255, 255, 0.05);
            border: none;
            color: #BFC0C1;
          }
        }
        &__news-block {
          display: flex;
          flex-wrap: wrap;
        }
        &__show-more {
          text-transform: uppercase;
          display: flex;
          align-items: center;
          margin: 0 auto;
          &-background{
            position: absolute;
            width: 50px;
            height: 50px;
            background: #443C2C;
            border: 1px solid #443C2C;
            box-sizing: border-box;
            border-radius: 50%;
            z-index: -999;
          }
          &-value{
            padding-left: 20px;
          }
        }
      }

      &__sidebar {
        &__title {
          display: flex;
        }
      }
    }

  }

}


.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 270px;
  background-size: cover;
  background-position: left bottom;
  text-shadow: 1px 1px 2px black;

  .category {
    color: black;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    background: #DCA74A;
    align-self: flex-end;
    text-shadow: none;
  }
h2{
  text-transform: uppercase;
}
  .subData {
    display: flex;
    align-items: center;

    .arrow {
      border: 5px solid transparent;
      border-left: 8px solid #BFC0C1;
      margin: 0 -4px 0 4px;
      text-shadow: 1px 1px 2px black;
    }
  }
}
